doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}

    // Global CSS
    link(rel="stylesheet", href="/css/layout.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

    // Page-specific CSS
    block styles

  body
    // Page content
    block content

    // Global JS
    script(src="/main.js")

    // Page-specific JS
    block scripts