doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Signup
    link(rel="stylesheet", href="/css/signup.css")
  body
    .form-card
      h2 Signup
      form#signupForm
        input.form-input#fullName(type="text" placeholder="Full Name")
        input.form-input#email(type="email" placeholder="Email")
        input.form-input#phone(type="tel" placeholder="Phone Number")
        input.form-input#password(type="password" placeholder="Password")
        input.form-input#confirmPassword(type="password" placeholder="Confirm Password")
        button.form-btn(type="submit") SIGNUP
      .link-row
        | Have an account? 
        a(href="/login") Login

    script(src="/js/signup.js")
